header{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    background-image: url("../images/fruit_aes.jpg");
}
header h1{
    font-family: 'Shippori Mincho B1';
    font-weight: 700;
    color: #7D3A3B;
    text-align: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFE2B7;
    font-family: 'Shippori Mincho B1';
}
nav a{
    text-decoration: none;
    color: #7D3A3B;
}
nav a:hover{
    text-decoration: underline;
}
.container{
    display: grid;
    background-color: #ECF0F0;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* Skip to Content */
.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}
.skip a:focus{
    position: absolute;
    top: 10px;
}

.title{
    animation-name: title_grow;
    animation-duration: 10s;
}
.head{
    animation-name: head_grow;
    animation-duration: 10s;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, 
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back{
    transform: rotateY(180deg);
    background-color: #0D1B2A;
    font-family: 'Shippori Mincho B1';
    color: #ECF0F0;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

@media (prefers-reduced-motion: reduce){
    .title, .head{
        animation: none;
    }
    .flip-card-inner, .flip-card:hover .flip-card-inner{
        transition: transform none;
        transform: none;
    }
    header{
        background-attachment: initial;
    }
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    header{
        height: 100px;
    }
    header h1{
        font-size: 40px;
        padding-top: 20px;
    }
    header p{
        font-size: 0px;
    }
    nav ul{
        padding: 10px;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-row-gap: 10px;
    }
    .about-image{
        max-width: 750px;
        max-height: 250px;
        grid-column: 1;
        grid-row: 1;
    }
    .about-text{
        grid-column: 1;
        grid-row: 2;
        border: 5px solid #0D1B2A;
        padding: 10px;
        text-align: center;
        font-family: 'Shippori Mincho B1';
        color: #415a77;
    }
    .edamame{
        width: 100%;
        grid-row: 3;
        grid-column: 1;
    }
    .edamame img{
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .biscuits{
        width: 100%;
        grid-row: 4;
        grid-column: 1;
    }
    .biscuits img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .soup{
        width: 100%;
        grid-row: 5;
        grid-column: 1;
    }
    .soup img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .potatoes{
        width: 100%;
        grid-row: 6;
        grid-column: 1;
    }
    .potatoes img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .pasta{
        width: 100%;
        grid-row: 7;
        grid-column: 1;
    }
    .pasta img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .orzo{
        width: 100%;
        grid-row: 8;
        grid-column: 1;
    }
    .orzo img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .zucchini{
        width: 100%;
        grid-row: 9;
        grid-column: 1;
    }
    .zucchini img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .a-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
    .a-container h2{
        font-family: 'Shippori Mincho B1';
        font-size: 20px;
        color: #0D1B2A;
    }
    .a-container h3{
        font-family: 'Shippori Mincho B1';
        font-size: 18px;
        color: #7D3A3B;
    }
    .a-container li{
        font-family: 'Shippori Mincho B1';
        font-size: 16px;
        color: #415A77;
        margin-left: 50px;
    }
    .current_item a{
        text-decoration: underline;
        font-weight: bold;
    }
    .text > a{
        display: none;
    }
    footer{
        background-color: #7D3A3B;
        color: white;
        height:150px;
        text-align: center;
        padding-top: 10px;
    }
    .email, .comments, .submit{
        font-family: 'Shippori Mincho B1';
    }
    .submit{
        background-color: #FFE2B7;
        border: 1px #ECF0F0 solid;
        color: #415A77;
    }
    @-webkit-keyframes title_grow{
        from{
            font-size: 0px;
            opacity: 0;
        }
        to{
            font-size: 40px;
            opacity: 1;
        }
    }
    @keyframes title_grow{
        from{
            font-size: 0px;
            opacity: 0;
        }
        to{
            font-size: 40px;
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 800px){ /* max-width: 1200px */
    header{
        height: 200px;
    }
    header h1{
        font-size: 80px;
        color: #7D3A3B;
        padding-top: 10px;
        padding-left: 250px;
    }
    header p{
        font-family: 'Shippori Mincho B1';
        font-weight: 400;
        font-size: 15px;
        color: #0D1B2A;
        text-align: center;
        padding-top: 10px;
        padding-left: 250px;
    }
    nav ul{
        padding: 28px;
        font-size: 22px;
    }
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(8, 1fr);
    }
    .about-image{
        width: auto;
        max-height: 250px;
        grid-column: 1;
        grid-row: 1;
    }
    .about-text h2{
        grid-column: 2;
        grid-row: 1;
        padding: 10px;
        text-align: center;
        font-family: 'Shippori Mincho B1';
        font-size: 36px;
        color: #415a77;
    }
    .about-text p{
        grid-column: 2;
        grid-row: 1;
        padding: 20px;
        font-family: 'Shippori Mincho B1';
        color: #415a77;
    }
    .edamame{
        width: 100%;
        grid-row: 2;
        grid-column: 2;
    }
    .edamame img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .biscuits{
        width: 100%;
        grid-row: 3;
        grid-column: 1;
    }
    .biscuits img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .soup{
        width: 100%;
        grid-row: 4;
        grid-column: 2;
    }
    .soup img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .potatoes{
        width: 100%;
        grid-row: 5;
        grid-column: 1;
    }
    .potatoes img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .pasta{
        width: 100%;
        grid-row: 6;
        grid-column: 2;
    }
    .pasta img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .orzo{
        width: 100%;
        grid-row: 7;
        grid-column: 1;
    }
    .orzo img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .zucchini{
        width: 100%;
        grid-row: 8;
        grid-column: 2;
    }
    .zucchini img{
        justify-self: center;
        max-height: 250px;
        width: 75%;
        border: 10px #0D1B2A solid;
    }
    .a-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.5;
    }
    .a-container h2{
        font-family: 'Shippori Mincho B1';
        font-size: 20px;
        color: #0D1B2A;
        margin-left: 20px;
        font-weight: bolder;
    }
    .a-container h3{
        font-family: 'Shippori Mincho B1';
        font-size: 18px;
        color: #7D3A3B;
        margin-left: 20px;
    }
    .a-container li{
        font-family: 'Shippori Mincho B1';
        font-size: 16px;
        color: #415A77;
        margin-left: 50px;
    }
    main ul li{
        display: list-item;
        list-style: square;
    }
    main ol li{
        display: list-item;
        list-style-type: decimal;
    }
    .current_item a{
        text-decoration: underline;
        font-weight: bold;
    }
    .text > a:nth-child(odd){
        grid-column: 1;
    }
    .text > a:nth-child(even){
        grid-column: 2;
    }
    .text a{
        font-family: 'Shippori Mincho B1';
        font-size: 24px;
        color: #7D3A3B;
        text-decoration: none;
    }
    .text a:hover{
        text-decoration: underline;
    }
    footer{
        background-color: #7D3A3B;
        color: white;
        height: 150px;
        padding-top: 20px;
        text-align: center;
    }
    .email, .comments, .submit{
        font-family: 'Shippori Mincho B1';
        font-size: 24px;
    }
    .submit{
        background-color: #FFE2B7;
        border: 1px #ECF0F0 solid;
        color: #415A77;
    }
    @-webkit-keyframes title_grow{
        from{
            font-size: 20px;
            opacity: 0;
        }
        to{
            font-size: 80px;
            opacity: 1;
        }
    }
    @-webkit-keyframes head_grow{
        from{
            font-size: 0px;
            opacity: 0;
        }
        to{
            font-size: 15px;
            opacity: 1;
        }
    }
    @keyframes title_grow{
        from{
            font-size: 20px;
            opacity: 0;
        }
        to{
            font-size: 80px;
            opacity: 1;
        }
    }
    @keyframes head_grow{
        from{
            font-size: 0px;
            opacity: 0;
        }
        to{
            font-size: 15px;
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 1200px){
    header{
        height: 250px;
    }
    header h1{
        font-size: 90px;
    }
    header p{
        font-size: 25px;
    }
    nav ul{
        font-size: 30px;
    }
    .container{
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(5, 1fr);
    }
    .about-text{
        grid-column: 3 / span 2;
        grid-row: 1;
    }
    .about-image{
        grid-column: 1/ span 2;
        grid-row: 1;
    }
    .edamame img{
        max-height: 300px;
        width: 85%;
    }
    .biscuits img{
        height: auto;
        width: 85%;
    }
    .biscuits{
        grid-row: 2;
        grid-column: 4;
    }
    .soup img{
        max-height: 300px;
        width: 85%;
    }
    .soup{
        grid-row: 3;
    }
    .potatoes img{
        max-height: 300px;
        width: 85%;
    }
    .potatoes{
        grid-row: 3;
        grid-column: 4;
    }
    .pasta img{
        max-height: 300px;
        width: 85%;
    }
    .pasta{
        grid-row: 4;
    }
    .orzo img{
        height: auto;
        width: 85%;
    }
    .orzo{
        grid-row: 4;
        grid-column: 4;
    }
    .zucchini img{
        max-height: 250px;
        width: 85%;
    }
    .zucchini{
        grid-row: 5;
    }
    .edamame_text, .biscuits_text{
        grid-row: 2;
    }
    .soup_text, .potatoes_text{
        grid-row: 3;
    }
    .pasta_text, .orzo_text{
        grid-row: 4;
    }
    .zucchini_text{
        grid-row: 5;
    }
    .edamame_text, .soup_text, .pasta_text, .zucchini_text{
        grid-column: 1;
    }
    .biscuits_text, .potatoes_text, .orzo_text{
        grid-column: 3;
    }
    .a-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .a-container h2{
        font-size: 24px;
    }
    .a-container h3{
        font-size: 22px;
    }
    .a-container li{
        font-size: 20px;
    }
    footer{
        height: 175px;
    }
}